{% extends 'base.html' %}


{% block content %}


<style type="text/css">
	.card{
		max-width: 700px;
	}
	.card-body{
		padding: 20px;
	}
</style>

<div class="container">
	<div class="row">

		<!-- Blog Post -->
		<div class="card m-auto">
			<div class="card-body mt-2 mb-2">
        <h1> City Info for...</h1>
			  <h2 class="card-title">{{city}}</h2>
        <iframe
          width="300"
          height="170"
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"
          src="'https://maps.google.com/maps?q=' + {{city.Latitude}} + ',' + {{city.Longitude}} + '&t=&z=15&ie=UTF8&iwloc=&output=embed'"
         >
         </iframe>
			</div>
		</div>
	</div>
</div>



{% endblock content %}
