{% extends 'base.html' %}


{% block content %}


<style type="text/css">
	.card{
		max-width: 700px;
	}
	.card-body{
		padding: 20px;
	}
</style>

<div class="container">
	<div class="row">

		<!-- Blog Post -->
		<div class="card m-auto">
			<div class="card-body mt-2 mb-2">
        <h1> City Info for...</h1>
			  <h2 class="card-title">{{city}}</h2>
        <iframe
          width="300"
          height="170"
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"
          src="https://maps.google.com/maps?q='+{{city.Latitude}}+','+{{city.Longitude}}+'&hl=es&z=14&amp;output=embed"
         >
         </iframe>
         <br />
         <small>
           <a
            href="https://maps.google.com/maps?q='+data.lat+','+data.lon+'&hl=es;z=14&amp;output=embed"
            style="color:#0000FF;text-align:left"
            target="_blank"
           >
             See map bigger
           </a>
         </small>
			</div>
		</div>
	</div>
</div>



{% endblock content %}
