{% extends 'base.html' %}
{% block content %}

<style type="text/css">

	@media (max-width: 768px) {
		.right-column{
			margin-left: 0px;
		}
	}

	@media (min-width: 768px) {
		.right-column{
			margin-left: 20px;
		}
	}

	.blog-post-container{
		background-color: #fff;
		margin-bottom: 10px;
		margin-top: 10px;
		width: 100%;
	}
	.create-post-bar{
		background-color: #fff;
		margin-bottom:20px;
	}

	.left-column{
		padding:0px;
	}

	.right-column{
		padding:0px;
	}

	.form{
		width:100%
	}

</style>



<div class="container">
	<br>
	<div class="card m-auto" style="width: 100%">
		<div class="card-body">
			<h2 class = "text-center" style="color: #17a2b8"> Find a City that Matches your Criteria </h2>
      <form class="create-form" method="post" enctype="multipart/form-data"> {% csrf_token %}
				<h5 class = "text-left" style="color: #17a2b8"> General </h5>
        <div class ="row">
          <div class="col-6">
            <div class="form-group">
              <label>Enter Minimum Population</label>
              <input class="form-control" type="number" value = 0 name="min_pop" min = 0 placeholder="Minimum" autofocus>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label>Enter Maximum Population</label>
              <input class="form-control" type="number" value=10000000 name="max_pop" max =10000000 placeholder="Maximum" autofocus>
            </div>
          </div>
					</div>
					<div class="row"><div class="col-12">
						<div class="form-group">
							<label>Is it important to you to minimize the amount of income and sales tax to you pay?</label><br>
								<select id="m_base_type" name="m_base">
									<option value = "Income"> Yes, Income </option>
									<option value = "Sales"> Yes, Sales </option>
									<option value = "Both"> Yes, Both </option>
									<option value = "Neither"> No </option>
								</select>
						</div>
	        </div></div>

        <div class="row">
					<h5 class = "text-left" style="color: #17a2b8"> Military</h5>
          <div class="col-8">
            <div class="form-group">
              <label>Is being able to access military aid important?</label><br>
                <label class="radio-inline">
                <input type="radio" name="miliatry" value = "Yes"> Yes </label>
                <label class="radio-inline">
                <input type="radio" name="miliatry" checked value = "No"> No </label>
            </div>
          </div>
        </div>
				<div class="row">
					<div class="col-8">
						<div class="form-group">
							<label>Do you want to be close to a Military Base?</label><br>
							<select id="m_base_type" name="m_base">
								<option value = "Army Active"> Yes, Army Active </option>
								<option value = "Army Reserve"> Yes, Army Reserve </option>
								<option value = "MC Active"> Yes, MC Active </option>
								<option value = "Navy Active"> Yes, Navy Active </option>
								<option value = "MC Reserve"> Yes, MC Reserve </option>
								<option value = "WHS"> Yes, WHS </option>
								<option value = "AF Active"> Yes, AF Active </option>
								<option value = "AF Reserve"> Yes, AF Reserve </option>
								<option value = "AF Guard"> Yes, AF Guard </option>
								<option value = "Army Guard"> Yes, Army Guard </option>
								<option value = "No" selected> No </option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<h5 class = "text-left" style="color: #17a2b8"> School </h5>
					<div class="col-8">
						<div class="form-group">
              <label>Is having good schools important for you?</label><br>
                <label class="radio-inline">
                <input type="radio" name="school" value = "Yes"> Yes </label>
                <label class="radio-inline">
                <input type="radio" name="school" checked value = "No"> No </label>
            </div>
					</div>
				</div>
        <div class="col-md-4 text-center">
          <button class="btn btn-info" type="submit" style="width:33% ">Search</button>
        </div>
      </form>
		</div>
	</div>

	{% for city in cities %}
	  <div class="blog-post-container">
	    <a href="{% url 'cities:city_detail' city.CityID %}" style="text-decoration: none; color: #17a2b8;"><li class="list-group-item">{{city.City}}</li></a>
	  </div>
	{% endfor %}
</div>

<script type="text/javascript">
	document.getElementById("id_q").value = "{{query}}"
</script>





{% endblock content %}
