{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<style type="text/css">
  .create-form {
	    width: 100%;
	    max-width: 100%;
	    padding: 15px;
	    margin: auto;
  	}

  	.submit-button{
  		max-width: 200px;
  	}
</style>


<h3> Create a Review for a City </h3>
<div class="container">
	<div class="row">
		<div class="col-lg-7 offset-lg-1">
			<form class="create-form" method="post">{% csrf_token %}
        {% crispy form %}
				<button class="submit-button btn btn-lg btn-primary btn-block" type="submit">Add Review</button>
			</form>
		</div>
	</div>
</div>






{% endblock content %}
