{% extends 'base.html' %}
{% block content %}

<div class="container">
	<div class="row">

		<!-- Blog Post -->
		<div class="card m-auto">
			<div class="card-body mt-2 mb-2">
        <form class="form-control" method="post" enctype="multipart/form-data"> {% csrf_token %}
          <h2> Do you want to delete the review "{{object.City}}"? </h2>
          <p><input type="submit" name="delete_butns" value="Yes"/> <a href="../">Cancel</a></p>
        </form>
      </div>
    </div>











{% endblock content %}
