{% extends 'base.html' %}


{% block content %}


<style type="text/css">
	.card{
		max-width: 700px;
	}
	.card-body{
		padding: 20px;
	}
</style>

<div class="container">
	<div class="row">

		<!-- Blog Post -->
		<div class="card m-auto">
			<div class="card-body mt-2 mb-2">
			  <h2 class="card-title">{{review.City}}</h2>
			  <p class="card-text">{{review.Comments|safe}}</p>
        <p class="card-text">{{review.Rating|safe}}</p>
			  {% if review.author == request.user %}
			  	<a href="{% url 'cities:edit_review' review.slug %}" class="btn btn-primary">Update</a>
		      <a class="btn btn-outline-danger" href="{% url 'cities:delete_review' review.slug%}"> Delete </a>
			  {% endif %}
			</div>
			<div class="card-footer text-muted">
			  Created By {{review.author}}
			</div>
		</div>
	</div>
</div>



{% endblock content %}
