{% extends 'base.html' %}
{% block content %}

<style type="text/css">

	@media (max-width: 768px) {
		.right-column{
			margin-left: 0px;
		}
	}

	@media (min-width: 768px) {
		.right-column{
			margin-left: 20px;
		}
	}

	.blog-post-container{
		background-color: #fff;
		margin-bottom: 20px;
		width: 100%;
	}
	.create-post-bar{
		background-color: #fff;
		margin-bottom:20px;
	}

	.left-column{
		padding:0px;
	}

	.right-column{
		padding:0px;
	}

</style>



<div class="left-column col-lg-7 offset-lg-1">
{% for city in cities %}

  <div class="blog-post-container">
    <a href="#"> {{city.City}} </a>
    <!-- {% url 'cities:city_details' city.City  %} -->

    <p>Population: {{city.Population}}</p>
  </div>

{% endfor %}

</div>







{% endblock content %}
