{% extends 'base.html' %}
{% block content %}

<style type="text/css">

	@media (max-width: 768px) {
		.right-column{
			margin-left: 0px;
		}
	}

	@media (min-width: 768px) {
		.right-column{
			margin-left: 20px;
		}
	}

	.blog-post-container{
		background-color: #fff;
		margin-bottom: 20px;
		width: 100%;
	}
	.create-post-bar{
		background-color: #fff;
		margin-bottom:20px;
	}

	.left-column{
		padding:0px;
	}

	.right-column{
		padding:0px;
	}

	.search-bar{
		max-width: 800px;
		width:100%;
	}
	.form{
		width:100%
	}

</style>

<div class="input-group mb-3">
		<form method="get">
		  <input type="text" class="form-control" name="q" id="id_q" placeholder="Search by City Name..." aria-label="Recipient's username" aria-describedby="basic-addon2">
		  <div class="input-group-append">
	    <button class="btn btn-outline-secondary" type="submit">Search</button>
		</form>
  </div>
</div>










<!-- <div class="col-md-3 offset-md-3">
	<div class="search-bar mt-sm-4 mr-2">

  		<input class="form-control"  type="text" >
			<br>
			<button class="submit-button btn btn-sm btn-primary btn-block" type="submit">Search</button>

  </div>
	<br> -->

{% for city in cities %}

  <div class="blog-post-container">
    <a href="{% url 'cities:city_detail' city.CityID %}" style="text-decoration: none;"><li class="list-group-item">{{city.City}}</li></a>
  </div>

{% endfor %}

</div>

<script type="text/javascript">
	document.getElementById("id_q").value = "{{query}}"
</script>





{% endblock content %}
