<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    {% if request.user.is_quthenticated %}
      <p> Hello, {{request.user.username}} <a href="{%url 'logout' %}">Logout</a></p>
    {%else%}
      <p><a href="{%url 'register'%}">Register</a> | <a href="#">Login</a></p>
    {% endif %}

      <hr>
  </head>


  <body>
    {% block content %}

    {% endblock content %}

  </body>


  <footer>
    <hr>
      <p> StatsCentral City Search Tool | UIUC Spring 2019</p>
  </footer>
</html>
